*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-indent: 150px;
    align-items: center;
    background-color: rgb(251, 60, 2);
}
main{
    width: 100%;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divInputFile{
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(251, 60, 2);
    border-radius: 10px;
}
.selecionarArquivo{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    font-size: 25px;
    font-family: sans-serif;
    
}
h1{
    font-family: sans-serif;
    color: white;
}
#xmlInput{
    width: 118px;;
    font-family: sans-serif;
    color: black;
    margin-left: 20px;
}
button{
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    background-color: rgb(251, 60, 2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media print {
    body * {
        visibility: hidden;
    }

    .sheetA4, .sheetA4 * {
        visibility: visible;
    }

    .sheetA4 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%; 
    }
}